NEXT_PUBLIC_REOWN_PROJECT_ID=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
NEXT_PUBLIC_ETHEREUM_SEPOLIA_RPC_URL=https://1rpc.io/sepolia
NEXT_PUBLIC_L1_PROXY_ADDRESS=0xaAe29B0366299461418F5324a79Afc425BE5ae21